*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root{
  display:flex;
  justify-content: center;
}

.App{
  width: 1000px;
}

.post{
  display: flex;
  padding: 15px;
  border: 5px solid darkred;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}